@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');

* {
    font-family: 'Noto Sans KR', sans-serif;
    padding: 0;
    margin: 0;

    text-decoration: none;
    color: black;
}

main { margin: 50px 0 }

button {
    width: 155px;
    height: 40px;
    background-color: transparent;
    border: solid #707070 1px;
}

button:hover{ cursor: pointer; }

input {
    outline: none;
    border: none;
}

dt, dd {
    display: inline-block;

}

dt { font-weight: bold; }

.gage { 
    width: 186px;
    height: 22px;
    border: solid 1px #707070;

}

.company-info-head {
    width: 85px;
    margin-bottom: 12px;
}


.company-review-rating-head { width: 190px; }

#wrap {
    width: 1200px;

    margin: 0 auto;
}

#warp-header {
    height: 80px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;

    background-color: #F5F5F5;
}
#warp-header-container {
    width: 100%;
    height: 40px;
    display: flex;
}

#warp-main { margin: 30px 0; }
#main-search-container {
    width: 100%;
    height: 60px;
    border: solid black 1px;
}

#warp-footer{ background-color: #F5F5F5; }

.item:hover { cursor: pointer; }